body{
    margin: 0;
    padding: 0;
    font-family: 'Splash', cursive;
}

/*----medium screen---*/

    

/*---------
 top part 
 -----------*/
.banner{
    display: flex;
    background-color: black;
    color: white;
    height: 646px;
    width: 1321px;
    margin: auto;
    margin-top: 50px;
    
    border-radius: 25px;
}
.players{
    width: 513px;
    height: 424px;
    margin-top: 111px;
    margin-left: 106px;
    margin-right: 24px;
    margin-bottom: 111px;
    
}
.players h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
  
    margin: 0;
    padding: 0%;
  
}
.players p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0;
    width:506px ;
    
   
    
}


.player{
    margin-top: 33px;
    margin-right: 79px;
}
.player img{

    height: 613px;
    width: 581px;
   
}

.b1{
    background-color: white;
    border-radius: 5px;
    padding: 16px 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.46px;
    color:black;
    text-decoration: none;

}
.b1:hover{
    background-color:#DD0000;
    color: white;
}
/*------------------
top part ends
----------------*/
/*---------------------------
 main part starts
-------------------- */
.bloggings{
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
    width: 1320px;
    height: 1000px;

}
.menu{
     background-color: black;
     border-radius: 10px;
     color: white;
     height:312px ;
     width: 312px;
     margin: 24px 12px 12px 12px;
    
     
     

    

}
.menu h3{
    background-color:white ;
    border-radius: 10px;
    color: black;
    height: 64px;
    width: 252px;
    text-align: center;
   
    margin: 30px;

}
.menu h3:hover{
    background-color: #DD0000;
}
.menu h3 a{
    text-decoration: none;
    color: black;
   
}
.menu h3 a:hover{
    background-color: #DD0000;
    color: white;
}
.blogs{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 24px;
    margin-left: 12px;
}
.blog{
    border: 1px solid gray;
    border-radius: 10px;
    
    
}
/*--------------
main parts ends
----------------*/
/*-----------------
  footer starts
  ---------------*/
.footer{
    background-color: black;
    color: white;
    height: 244px;
    width: auto;
    margin:0;
    padding-top: 50px;
   
    text-align: center;
}
.footer div h2{
   margin-bottom: 50px;
    
}
hr{
    width: 1320px;
}

.contact{
   
    
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 898px;
    
}
.contact a{
    text-decoration: none;
    color: white;
}
/*----------
footer ends
--------*/
@media screen and (max-width: 576px ) {
    
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
        margin: 24px;
        margin-left: 12px;
    }
}
@media screen and (min-width: 834px) and (max-width: 992px){
    .banner{
       
        width: 834px;
        
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
        margin: 24px;
        margin-left: 12px;
    }
    }
   
